.header__summary-buttons {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1223px) {
  .header__summary-buttons {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
